.projenv
*__pycache__*

datasets/images/*
datasets/labels/*
datasets/targets/*
datasources/*
models/raw/*
models/trained/*
notebooks/*
runs/test/*
runs/train/*
yolo11n.pt
random.py
.env

!datasets/images/README.md
!datasets/labels/README.md
!datasets/targets/README.md
!datasources/README.md
!models/raw/README.md
!models/raw/yolo11n-obb-stn.yaml
!models/trained/README.md
!notebooks/README.md
!runs/test/README.md
!runs/train/README.md